<%- include("partials/header") %>

<h2>
	 <%= campground.name %>
</h2>

<img src="<%=campground.image%>" width = "400" height = "200">

<p>
	<%= campground.description %>
</p>

<%- include("partials/footer") %>